<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.bible.android.activity"
    android:installLocation="auto"
    android:versionCode="107"
    android:versionName="1.9.0" >

    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="14" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <!-- allow use on Google TV -->
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />

    <application
        android:name="net.bible.android.BibleApplication"
        android:allowBackup="true"
        android:icon="@drawable/bible"
        android:label="@string/app_name"
        android:theme="@style/AndBibleTheme" >

        <!-- deprecated but necessary to prevent old shortcut breaking -->
        <activity
            android:name=".StartupActivity"
            android:label="@string/app_name"
            android:theme="@style/AndBibleThemeDark" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <!-- see Samsung multi-window info at bottom -->
                <category android:name="android.intent.category.MULTIWINDOW_LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="net.bible.android.view.activity.page.MainBibleActivity"
            android:configChanges="keyboardHidden|orientation|locale"
            android:label="@string/app_name"
            android:theme="@style/AndBibleThemeDark" >
        </activity>
        <activity
            android:name="net.bible.android.view.activity.navigation.ChooseDocument"
            android:configChanges="keyboardHidden|orientation|locale"
            android:label="@string/chooseBook" >
        </activity>
        <activity
            android:name="net.bible.android.view.activity.navigation.GridChoosePassageBook"
            android:configChanges="locale"
            android:label="@string/choosePassageBookName" >
        </activity>
        <activity
            android:name="net.bible.android.view.activity.navigation.GridChoosePassageChapter"
            android:configChanges="locale"
            android:label="@string/choosePassageChapterName" >
        </activity>
        <activity
            android:name="net.bible.android.view.activity.navigation.GridChoosePassageVerse"
            android:configChanges="locale"
            android:label="@string/choosePassageVerseName" >
        </activity>
        <activity
            android:name="net.bible.android.view.activity.search.Search"
            android:configChanges="keyboardHidden|orientation|locale"
            android:label="@string/search"
            android:windowSoftInputMode="adjustResize|stateHidden" >
        </activity>
        <activity
            android:name="net.bible.android.view.activity.search.SearchResults"
            android:configChanges="keyboardHidden|orientation|locale"
            android:label="@string/search" >
        </activity>
        <activity
            android:name="net.bible.android.view.activity.search.SearchIndex"
            android:configChanges="keyboardHidden|orientation|locale"
            android:label="@string/search_index" >
        </activity>
        <activity
            android:name="net.bible.android.view.activity.search.SearchIndexProgressStatus"
            android:configChanges="keyboardHidden|orientation|locale"
            android:label="@string/search_index" >
        </activity>
        <activity
            android:name="net.bible.android.view.activity.footnoteandref.FootnoteAndRefActivity"
            android:configChanges="keyboardHidden|orientation|locale"
            android:label="@string/notes" >
        </activity>
        <activity
            android:name="net.bible.android.view.activity.bookmark.Bookmarks"
            android:configChanges="keyboardHidden|orientation|locale"
            android:label="@string/bookmarks" >
        </activity>
        <activity
            android:name="net.bible.android.view.activity.bookmark.BookmarkLabels"
            android:configChanges="keyboardHidden|orientation|locale"
            android:label="@string/bookmark_labels" >
        </activity>
        <activity
            android:name="net.bible.android.view.activity.comparetranslations.CompareTranslations"
            android:configChanges="keyboardHidden|orientation|locale"
            android:label="@string/compare_translations" >
        </activity>
        <activity
            android:name="net.bible.android.view.activity.mynote.MyNotes"
            android:configChanges="keyboardHidden|orientation|locale"
            android:label="@string/mynotes" >
        </activity>
        <activity
            android:name="net.bible.android.view.activity.navigation.ChooseDictionaryWord"
            android:configChanges="keyboardHidden|orientation|locale"
            android:label="@string/dictionary" >
        </activity>
        <activity
            android:name="net.bible.android.view.activity.navigation.genbookmap.ChooseGeneralBookKey"
            android:configChanges="keyboardHidden|orientation|locale"
            android:label="@string/general_book" >
        </activity>
        <activity
            android:name="net.bible.android.view.activity.navigation.genbookmap.ChooseMapKey"
            android:configChanges="keyboardHidden|orientation|locale"
            android:label="@string/doc_type_map" >
        </activity>
        <activity
            android:name="net.bible.android.view.activity.readingplan.ReadingPlanSelectorList"
            android:configChanges="keyboardHidden|orientation|locale"
            android:label="@string/rdg_plan_selector_title" >
        </activity>
        <activity
            android:name="net.bible.android.view.activity.readingplan.DailyReadingList"
            android:configChanges="keyboardHidden|orientation|locale"
            android:label="@string/rdg_plan_title" >
        </activity>
        <activity
            android:name="net.bible.android.view.activity.readingplan.DailyReading"
            android:configChanges="keyboardHidden|orientation|locale"
            android:label="@string/rdg_plan_title" >
        </activity>
        <activity
            android:name="net.bible.android.view.activity.settings.SettingsActivity"
            android:configChanges="keyboardHidden|orientation|locale"
            android:label="@string/settings" >
        </activity>
        <activity
            android:name="net.bible.android.view.activity.navigation.History"
            android:configChanges="keyboardHidden|orientation|locale"
            android:label="@string/history" >
        </activity>
        <activity
            android:name="net.bible.android.view.activity.speak.Speak"
            android:configChanges="keyboardHidden|orientation|locale"
            android:label="@string/speak" >
        </activity>
        <activity
            android:name="net.bible.android.view.activity.download.Download"
            android:configChanges="keyboardHidden|orientation|locale"
            android:label="@string/download" >
        </activity>
        <activity
            android:name="net.bible.android.view.activity.download.EnsureBibleDownloaded"
            android:configChanges="keyboardHidden|orientation|locale"
            android:label="@string/download" >
        </activity>
        <activity
            android:name="net.bible.android.view.activity.download.DownloadStatus"
            android:configChanges="keyboardHidden|orientation|locale"
            android:label="@string/progress_status" >
        </activity>
        <activity
            android:name="net.bible.android.view.activity.download.ProgressStatus"
            android:configChanges="keyboardHidden|orientation|locale"
            android:label="@string/progress_status" >
        </activity>
        <activity
            android:name="net.bible.android.view.activity.help.Help"
            android:configChanges="keyboardHidden|orientation|locale"
            android:label="@string/help" >
        </activity>

        <!-- allow use with Samsung Note multi-window http://stackoverflow.com/questions/14111052/adding-multi-window-support-to-android-application -->
        <uses-library
            android:name="com.sec.android.app.multiwindow"
            android:required="false" />

        <meta-data
            android:name="com.sec.android.support.multiwindow"
            android:value="true" />
        <meta-data
            android:name="com.sec.android.multiwindow.DEFAULT_SIZE_W"
            android:value="632.0dip" />
        <meta-data
            android:name="com.sec.android.multiwindow.DEFAULT_SIZE_H"
            android:value="598.0dip" />
        <meta-data
            android:name="com.sec.android.multiwindow.MINIMUM_SIZE_W"
            android:value="632.0dip" />
        <meta-data
            android:name="com.sec.android.multiwindow.MINIMUM_SIZE_H"
            android:value="598.0dip" />
    </application>

</manifest>
